.nail{
    height: 100px;
    width: 50px;
    border-radius: 40%;
    border: none;
    outline:none;
}

.button {
    width: 100px;
    height: 50px;
    background-color:  #f153e4;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    border: none;
    outline:none;
}
  
.button:hover {
    background-color: #278a79;
    cursor: pointer;
    cursor: hand;
}

.wrapper {
    display: grid;
    /* background-color: peachpuff; */
    /* background-image: url('/src/img/kasi.jpg'); */
    /* background: url(./kasi.png) no-repeat; */
    background: url("https://source.unsplash.com/egbB-zLBeDo") center center/cover;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 500px;
    /* height: 630px; */
    margin: auto;
    margin-top: 50px;
    border-radius: 5%;
}

.one {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    margin-top: 50px;
    transform: rotate(-5deg);

}

.two { 
    grid-column: 3;
    grid-row: 1;
    margin: auto;
}

.three {
    grid-column: 4;
    grid-row: 1;
    margin: auto;
    margin-top: 40px;
    transform: rotate(5deg);
}

.four {
    grid-column: 5;
    grid-row: 2;
    margin: auto;
    transform: rotate(5deg);
}

.five {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    margin-top: 40px;
    transform: rotate(-20deg);
}

.six {
      grid-column: 3;
      grid-row: 5;
      align-content: center;
      text-align: center;
      margin: auto;
}

.html, body {
    background-color: rgb(194, 255, 249);
    height: 100%;
    width: 100%;
    margin: 0;
}